{% extends 'base.html.twig' %}

{% block body %}
    <h2>About-us</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque dignissim blandit. Aliquam tincidunt
        orci sit amet ex mattis, non placerat orci finibus. Nullam rutrum imperdiet diam a ultrices. Morbi ante est,
        pellentesque ut ex ut, interdum porta metus. Nullam vehicula arcu eget arcu tempus vehicula. Fusce iaculis,
        neque ut
        dignissim placerat, augue neque sagittis dolor, id dapibus orci enim at nunc. Curabitur ultrices non felis vitae
        bibendum. Praesent nec feugiat mi. Integer posuere felis non laoreet dignissim. Pellentesque id neque dolor.
        Proin
        ex leo, euismod eget congue non, luctus quis felis.
    </p>
{% endblock %}

    {% block title %}
        About us
    {% endblock %}

