{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    <h1>Projet Symfony - La Bucket-List</h1>
    <p>La Bucket-List est votre compagnon idéal pour transformer vos rêves en réalité.</p>
    <p>Commencez dès aujourd'hui à construire et réaliser votre liste de souhaits!</p>
{% endblock %}