{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oops! Une erreur est survenue</h1>
    <p>Nous rencontrons actuellement des problèmes techniques. Merci de réessayer ultérieurement.</p>
    <p>Si le problème persiste, veuillez contacter notre support technique.</p>
{% endblock %}

{% block title %}
   Error
{% endblock %}

